.chatContainer {
    height: 100%;
    width: 100%;
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    background-color: var(--main);
    overflow-y: hidden;
}

.chatHeader {
    height: 100px;
    width: clamp(350px, 100%, 800px);
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-between;
    color: var(--white);
    font-family: var(--secondaryFont);
    padding-inline: 1rem;
    border: 5px solid var(--background);
}

.chatHeader h2 {
    font-size: var(--respM);
    text-overflow: ellipsis;
    overflow: hidden;
}

.chatHeader > div {
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: flex-end;
    gap: 2vw;
}

.appIcon {
    height: clamp(70px, 5vw, 120px);
    width: clamp(70px, 5vw, 120px);
    filter: brightness(0) invert(1);
}

.loggedInAvatar {
    height: clamp(50px, 5vw, 80px);
    width: clamp(50px, 5vw, 80px);
    background-color: var(--darkLesser);
    border-radius: 50%;
}

.chatBox {
    background-color: mediumspringgreen;
    height: calc(100vh - 200px);
    width: clamp(350px, 100%, 800px);
    background-color: var(--background);
    overflow-y: auto;
    scrollbar-width: thin;
}

.spacer {
    height: 100px;
}
