:root {
  --main: #575fcc;
  --white: white;
  --background: #fff9f3;
  --contrast: #ff6d3b;
  --secondary: #8fd8b5;
  --tertiary: #739ef1;
  --secondaryContrast: #fabf48;
  --dark: #283244;
  --darkLesser: #878d97;

  --mainFont: 'Varela', sans-serif;
  --secondaryFont: 'Asul', sans-serif;

  --respS: clamp(0.8rem, 0.7rem + 4vw, 1.7rem);
  --respM: clamp(1.8rem, 1rem + 2vw, 2.5rem);
  --respL: clamp(2rem, 1rem + 4vw, 4rem);
  --respXL: clamp(3rem, 2.5rem + 3vw, 6rem);
}

* {
  /* outline: 1px solid #8fd8b5; */
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}


html, body, #root {
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  background-color: var(--background);
}

.app {
  height: 100vh;
  width: 100vw;
  overflow: hidden;
  font-family: var(--mainFont);
  color: var(--dark);
  display: flex;
  flex-flow: column nowrap;
}